<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <style>
        table, th, td {
            border: 1px solid grey;
        }
        th, td {
            padding: 10px;
        }
        </style>
    </head>
    <body>
        <form action="#" th:action="@{/list}">
            <h3>Find our visits today</h3>
            <button type="submit">go!</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Symbol</th>
                    <th>Name</th>
                    <th>Platforms</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="info : ${response}">
                    <td th:text="${info.getId()}"></td>
                    <td th:text="${info.getSymbol()}"></td>
                    <td th:text="${info.getName()}"></td>
                    <td th:text="${info.getPlatforms()}"></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>