<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nav History</title>
    <style>
        table, th, td {
            border: 1px solid grey;
        }
        th, td {
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>Nav History List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>IP</th>
        <th>lat/Long</th>
        <th>Device</th>
        <th>Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="navHistory : ${history}">
        <td th:text="${navHistory.getId()}"></td>
        <td th:text="${navHistory.getIp()}"></td>
        <td th:text="${navHistory.getLatLong()}"></td>
        <td th:text="${navHistory.getDevice()}"></td>
        <td th:text="${navHistory.getDateTime()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>